* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* barra navegacion */

header div.barrazul {
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: ease-in-out;
}

header div.barrazul i {
    color: #fcfcfc;
}

header .header-brand {
    width: 50%;
}

header nav.barra {
    background-color: rgba(68, 68, 68, 0.425);
    position: fixed;
    top: 0;
    padding-top: 2.5rem;
}

header nav.barra div.collapse .link-active {
    background-color: rgba(68, 68, 68, 0.425);
    border-radius: 8px;
}

header nav.barra div.collapse .btn-group:hover {
    border-radius: 8px;
    background-color: rgba(68, 68, 68, 0.438);
}

/* MAIN */

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

main {
    background: linear-gradient(to right, #0c356a3a, #d5ffd048);
    background-size: 200% 100%;
    animation: colorChange 4s infinite alternate;
}

/* API */
@keyframes slide {
    0% {
        transform: translateX(100);
    }

    100% {
        transform: translateX(-100%);
    }
}

.zocalo {
    height: 33px;
}

.api {
    width: max-content;
    height: 80%;
    white-space: nowrap;
    animation: slide 50s linear infinite;
}

/*FOOTER*/
footer a {
    color: #fcfcfc;
    text-decoration: none;
}

footer a i {
    color: #fcfcfc;
}

footer .footer-redes a:hover,
footer .footer-pagos a:hover {
    transform: scale(1.5);
}



/* MEDIA QUERIES */
@media (max-width: 767.98px) {
    header {
        height: 35vh;
    }

    header h2.titulo {
        top: 17%;
        left: 0%;
        font-size: 2.5rem;
    }

    .footer-contact {
        display: grid;
    }

    .footer-redes {
        display: grid;
        row-gap: 20px;
        font-size: smaller;
    }
}

@media (max-width: 968px) {
    .header-azul-contacto {
        display: none;
    }
}